

.titleNav {
    height: 85px;
    margin-left: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLogo {
    font-size: 30px;
    color: cornflowerblue;
}

.fa-city {
    margin-right: 15px;
}

.navbar-link {
    margin-right: 100px;
}

.navbar {
    background-color: black;
}

.breadcrumb {
    display: flex;  
}

.footer {
    background-color: black;
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
}







